*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #95699b;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: #4b6975;
    border: none;
    color: white;
}
.textview{
    width: 212px;
    margin: 5px;
    font-size: 25px;
    border-color: #4b6975;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

